<div class="internal-music-container">
    <img id="music-main-top-picture" src="assets/img/pages/music-top.png">
    <img id="music-main-picture" src="assets/img/pages/music-page.png">
</div>

<div class="own-music-list-background" style="transform: scale(0)">

    <div class="own-music-list-opacity">
        <div class="music-player-container is-playing">

            <div class="music-player">
                <div class="player-content-container">
                    <h1 class="artist-name">Incubus</h1><!--  /.track-title -->
                    <h2 class="album-title">Make Yourself</h2><!--  /.album-title -->
                    <h3 class="song-title">"Stellar"</h3><!--  /.song-title -->
                    <div class="music-player-controls">
                        <div class="control-back"></div><!--  /.control-back -->
                        <div class="control-play"></div><!--  /.control-play -->
                        <div class="control-forwards"></div><!--  /.control-forwards -->
                    </div><!--  /.music-player-controls -->
                </div><!--  /.player-content-container -->
            </div><!--  /.music-player -->

            <div class="album">
                <div class="album-art"></div><!--  /.album-art -->
                <div class="vinyl"></div><!--  /.vinyl -->
            </div><!--  /.album-art -->

        </div><!--  /.music-player -->


        <div class="music-play-list">
            <table id="music-table" class="ui very basic collapsing celled table">
                <thead>
                <tr><th style="color: #FFF; text-align: center">Song</th>
                    <th style="color: #FFF; text-align: center">Artist</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td style="border-bottom: 2px solid green">
                        <h4 class="ui image header">
                            <i class="plus icon" style="color: #FFF;padding: 0 40px;"></i>
                            <div class="content" style="color: #FFF; font-size: 20px">
                                Lena
                                <div class="sub header" style="color: #ccc">Human Resources
                                </div>
                            </div>
                        </h4></td>
                    <td style="color: #FFF;font-size: 20px;font-weight:900;border-bottom: 2px solid green">
                        22
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px solid green">
                        <h4 class="ui image header">
                            <i class="plus icon" style="color: #FFF;padding: 0 40px;"></i>
                            <div class="content" style="color: #FFF; font-size: 20px">
                                Lena
                                <div class="sub header" style="color: #ccc">Human Resources
                                </div>
                            </div>
                        </h4></td>
                    <td style="color: #FFF;font-size: 20px;font-weight:900;border-bottom: 2px solid green">
                        22
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px solid green">
                        <h4 class="ui image header">
                            <i class="plus icon" style="color: #FFF;padding: 0 40px;"></i>
                            <div class="content" style="color: #FFF; font-size: 20px">
                                Lena
                                <div class="sub header" style="color: #ccc">Human Resources
                                </div>
                            </div>
                        </h4></td>
                    <td style="color: #FFF;font-size: 20px;font-weight:900;border-bottom: 2px solid green">
                        22
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px solid green">
                        <h4 class="ui image header">
                            <i class="plus icon" style="color: #FFF;padding: 0 40px;"></i>
                            <div class="content" style="color: #FFF; font-size: 20px">
                                Lena
                                <div class="sub header" style="color: #ccc">Human Resources
                                </div>
                            </div>
                        </h4></td>
                    <td style="color: #FFF;font-size: 20px;font-weight:900;border-bottom: 2px solid green">
                        22
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px solid green">
                        <h4 class="ui image header">
                            <i class="plus icon" style="color: #FFF;padding: 0 40px;"></i>
                            <div class="content" style="color: #FFF; font-size: 20px">
                                Lena
                                <div class="sub header" style="color: #ccc">Human Resources
                                </div>
                            </div>
                        </h4></td>
                    <td style="color: #FFF;font-size: 20px;font-weight:900;border-bottom: 2px solid green">
                        22
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px solid green">
                        <h4 class="ui image header">
                            <i class="plus icon" style="color: #FFF;padding: 0 40px;"></i>
                            <div class="content" style="color: #FFF; font-size: 20px">
                                Lena
                                <div class="sub header" style="color: #ccc">Human Resources
                                </div>
                            </div>
                        </h4></td>
                    <td style="color: #FFF;font-size: 20px;font-weight:900;border-bottom: 2px solid green">
                        22
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px solid green">
                        <h4 class="ui image header">
                            <i class="plus icon" style="color: #FFF;padding: 0 40px;"></i>
                            <div class="content" style="color: #FFF; font-size: 20px">
                                Lena
                                <div class="sub header" style="color: #ccc">Human Resources
                                </div>
                            </div>
                        </h4></td>
                    <td style="color: #FFF;font-size: 20px;font-weight:900;border-bottom: 2px solid green">
                        22
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom: 2px solid green">
                        <h4 class="ui image header">
                            <i class="plus icon" style="color: #FFF;padding: 0 40px;"></i>
                            <div class="content" style="color: #FFF; font-size: 20px">
                                Lena
                                <div class="sub header" style="color: #ccc">Human Resources
                                </div>
                            </div>
                        </h4></td>
                    <td style="color: #FFF;font-size: 20px;font-weight:900;border-bottom: 2px solid green">
                        22
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>
